:root{
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #d9e8ff;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
}

#title-bar, #status-bar  {
    display: flex;
    justify-content: space-between;
    background-color: #3686ff;
    padding: 12px;
}

#title-bar .title {
    font-size: 1.5rem;
}

#title-bar #restart-button {
    border: none;
    border-radius: 4px;
    background-color: #FFBC36;
    font-family: var(--font-family);
    font-size: 16px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}


#game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: calc(100% - 88px);
}

#game-wrapper #tic-tac-toe {
    flex-wrap: wrap;
    max-height: 400px;
    height: 80vw;
    max-width: 400px;
    width: 80vw;
}

#game-wrapper #tic-tac-toe .field {
    max-height: 133.33px;
    max-width: 133.33px;
    height: 33%;
    width: 33%;
    border: 2px solid black;
    cursor: pointer;
}

#game-wrapper #tic-tac-toe .field.font-X{
    color: #3686ff;
}

#game-wrapper #tic-tac-toe .field.font-O{
    color: #FFBC36;
}

#game-wrapper #tic-tac-toe .field  .value{
    margin: auto;
    font-size: 3rem;
}

@media screen and (max-height: 600px) {
    #game-wrapper #tic-tac-toe {
        max-height: 400px;
        height: 60vh;
        max-width: 400px;
        width: 60vh;
    }

    #game-wrapper #tic-tac-toe .field  .value{
        margin: auto;
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    #game-wrapper #tic-tac-toe {
        max-height: 400px;
        height: 80vw;
        max-width: 400px;
        width: 80vw;
    }

    #game-wrapper #tic-tac-toe .field  .value{
        margin: auto;
        font-size: 2rem;
    }

    @media screen and (max-height: 525px) {
        #game-wrapper #tic-tac-toe {
            max-height: 400px;
            height: 55vh;
            max-width: 400px;
            width: 55vh;
        }
    }
}
